html, body {
 padding: 0;
 margin: 0;
 background: #FFFFFF;
 font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;;
 color: #000000;
 font-size: 13px;
 width: 100%;
 height: 100%;
 overflow: hidden;
}
* {
 scrollbar-width: thin;
}
.invalid {
 border-color: red !important;
}
.invalid .ivu-input{
 border-color: red !important;
}
