.ivu-menu-light {
 /* background: linear-gradient(to left,#128Bf1, 50% ,#6159Eb); */
 /* background: #36445e; */
 background: #FFFFFF;
}
.ivu-menu {
 color: #128Bf1;;
}
.ivu-menu-vertical.ivu-menu-light:after {
 width: 0;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
 /* color: #FFFFFF; */
 color: #6159Eb;
 background:rgba(97, 89, 235, 0.05);
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
 width: 3px;
 background: #6159Eb;
}
.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover {
 color: #6159Eb;
}
