.ivu-menu-light {
 background: linear-gradient(to right,#2f44ac,#6877c3);
}
.ivu-menu-vertical .ivu-menu-submenu-title:hover {
 background: rgba(255, 255, 255, 0.2);
 color: #FFFFFF;
}
.ivu-menu {
 color: rgba(255, 255, 255, 0.8);
}
.ivu-menu-vertical.ivu-menu-light:after {
 width: 0;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
 color: #FFFFFF;
 background:rgba(255, 255, 255, 0.2);
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
 width: 0;
}
.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover {
 color: #FFFFFF;
}